.error {
    width: 100%;
    min-height: 12vh;
    background: #303030 ;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #444;
    font-size: 30px;
    text-align: center;
    color: #8f3d3d;
}
.error i {
    font-size: 90px;
}