body {
    margin: 0;
    padding: 0;
    background: rgb(27, 27, 27) url(bg-wood.jpg) repeat center;
}
div {
    transition: all 0.5s ease-in-out;
}
.card {
    height: 150px;
    width: 100px;
    position: absolute;
    transition: 1s;
    perspective: 1000px;
}
.deck {
    height: 150px;
    width: 100px;
    position: absolute;
    transition: 1s;
    background: black url(card1.jpg) no-repeat center / cover;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
    left: 50%;
    top: 5%;
    color: aliceblue;
}
.deck:hover {
    transform: translateY(100px);
}
.front {
    height: 100%;
    width: 100%;
    background: black url(card1.jpg) no-repeat center / cover;
    position: absolute;
    transition: 1s;
    border-radius: 7px;
    backface-visibility: hidden;
    perspective: 1000px;
    border: 1px solid rgb(255, 255, 255);
}
.back {
    height: 150px;
    width: 100px;
    background: black;
    position: absolute;
    transition: 1s;
    border-radius: 7px;
    backface-visibility: hidden;
    perspective: 1000px;
    transform: rotateX(180deg);
    border: 1px solid rgb(255, 255, 255);
    padding: 3px 3px 3px 3px;
    color: aliceblue;
}
.open, .more {
    width: 100px;
    height: 30px;
    text-align: center;
    position: absolute;
    bottom: 0%;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
    cursor: pointer;
}
.more {
    left: 30%;
    background: #b1b1b1;
}
.open {
    left: 36%;
    background: #616161;
}
i {
    position: absolute;
    top: 5%;
    left: 2%;
    color: aliceblue;
    font-size: 50px;
}
.player_score {
    color: aliceblue;
    font-size: 20px;
    text-transform: uppercase;
}